OpenIZ.Messaging.IMSI/Schema/IMSI.xsd

<?xml version="1.0"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://openiz.org/model" elementFormDefault="qualified" targetNamespace="http://openiz.org/model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="IdentifiedData">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdentifiedData" nillable="true" type="tns:IdentifiedData" />
  <xs:complexType name="BaseEntityData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdentifiedData">
        <xs:sequence>
          <xs:element minOccurs="0" name="createdBy" type="ser:guid" />
          <xs:element minOccurs="0" name="creationTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="obsoletedBy" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="obsoletionTime" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseEntityData" nillable="true" type="tns:BaseEntityData" />
  <xs:complexType name="SecurityApplication">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SecurityEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="applicationSecret" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SecurityApplication" nillable="true" type="tns:SecurityApplication" />
  <xs:complexType name="SecurityEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntityData">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SecurityEntity" nillable="true" type="tns:SecurityEntity" />
  <xs:complexType name="SecurityDevice">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SecurityEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="deviceSecret" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SecurityDevice" nillable="true" type="tns:SecurityDevice" />
  <xs:complexType name="SecurityPolicy">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntityData">
        <xs:sequence>
          <xs:element minOccurs="0" name="canOverride" type="xs:boolean" />
          <xs:element minOccurs="0" name="isPublic" type="xs:boolean" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="oRef" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SecurityPolicy" nillable="true" type="tns:SecurityPolicy" />
  <xs:complexType name="SecurityRole">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SecurityEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SecurityRole" nillable="true" type="tns:SecurityRole" />
  <xs:complexType name="SecurityUser">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SecurityEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="emailConfirmed" type="xs:boolean" />
          <xs:element minOccurs="0" name="invalidLoginAttempts" type="xs:int" />
          <xs:element minOccurs="0" name="lastLoginTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lockoutEnabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="passwordHash" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="phoneNumberConfirmed" type="xs:boolean" />
          <xs:element minOccurs="0" name="photo" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="securityStamp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="twoFactorEnabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="updatedByRef" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="updatedTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SecurityUser" nillable="true" type="tns:SecurityUser" />
  <xs:complexType name="Patient">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Person">
        <xs:sequence>
          <xs:element minOccurs="0" name="deceasedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="deceasedDatePrecision" nillable="true" type="tns:DatePrecision" />
          <xs:element minOccurs="0" name="genderConceptRef" type="ser:guid" />
          <xs:element minOccurs="0" name="multipleBirthOrder" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Patient" nillable="true" type="tns:Patient" />
  <xs:complexType name="Person">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime" />
          <xs:element minOccurs="0" name="datePrecision" type="tns:DatePrecision" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="Entity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VersionedEntityData">
        <xs:sequence>
          <xs:element minOccurs="0" name="classConceptRef" type="ser:guid" />
          <xs:element minOccurs="0" name="creationActRef" type="ser:guid" />
          <xs:element minOccurs="0" name="determinerConceptRef" type="ser:guid" />
          <xs:element minOccurs="0" name="statusConceptRef" type="ser:guid" />
          <xs:element minOccurs="0" name="typeConceptRef" nillable="true" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
  <xs:complexType name="VersionedEntityData">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="VersionedEntityData" Namespace="http://openiz.org/model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Entity" Namespace="http://openiz.org/model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntityData">
        <xs:sequence>
          <xs:element minOccurs="0" name="previousVersionRef" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="sequenceRef" type="xs:decimal" />
          <xs:element minOccurs="0" name="versionRef" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VersionedEntityData" nillable="true" type="tns:VersionedEntityData" />
  <xs:simpleType name="DatePrecision">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Y" />
      <xs:enumeration value="m" />
      <xs:enumeration value="D" />
      <xs:enumeration value="H" />
      <xs:enumeration value="M" />
      <xs:enumeration value="S" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DatePrecision" nillable="true" type="tns:DatePrecision" />
  <xs:complexType name="Provider">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Person">
        <xs:sequence>
          <xs:element minOccurs="0" name="providerSpecialtyRef" nillable="true" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Provider" nillable="true" type="tns:Provider" />
  <xs:complexType name="ApplicationEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="securityApplicationRef" type="ser:guid" />
          <xs:element minOccurs="0" name="softwareName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vendorName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="versionName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ApplicationEntity" nillable="true" type="tns:ApplicationEntity" />
  <xs:complexType name="DeviceEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="manufacturerModelName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="operatingSystemName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="securityDeviceRef" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeviceEntity" nillable="true" type="tns:DeviceEntity" />
  <xs:complexType name="EntityAddress">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VersionBoundRelationData">
        <xs:sequence>
          <xs:element minOccurs="0" name="addressUseRef" nillable="true" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityAddress" nillable="true" type="tns:EntityAddress" />
  <xs:complexType name="VersionBoundRelationData">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="VersionBoundRelationData" Namespace="http://openiz.org/model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Entity" Namespace="http://openiz.org/model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BoundRelationData">
        <xs:sequence>
          <xs:element minOccurs="0" name="effectiveVersionSequence" type="xs:decimal" />
          <xs:element minOccurs="0" name="obsoleteVersionSequence" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VersionBoundRelationData" nillable="true" type="tns:VersionBoundRelationData" />
  <xs:complexType name="BoundRelationData">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BoundRelationData" Namespace="http://openiz.org/model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Entity" Namespace="http://openiz.org/model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntityData">
        <xs:sequence>
          <xs:element minOccurs="0" name="sourceEntityRef" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BoundRelationData" nillable="true" type="tns:BoundRelationData" />
  <xs:complexType name="AddressComponent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GenericComponentValues">
        <xs:sequence>
          <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddressComponent" nillable="true" type="tns:AddressComponent" />
  <xs:complexType name="GenericComponentValues">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericComponentValues" Namespace="http://openiz.org/model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="EntityAddress" Namespace="http://openiz.org/model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BoundRelationData">
        <xs:sequence>
          <xs:element minOccurs="0" name="typeRef" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GenericComponentValues" nillable="true" type="tns:GenericComponentValues" />
  <xs:complexType name="EntityRelationship">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VersionBoundRelationData">
        <xs:sequence>
          <xs:element minOccurs="0" name="relationshipTypeRef" type="ser:guid" />
          <xs:element minOccurs="0" name="targetRef" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityRelationship" nillable="true" type="tns:EntityRelationship" />
  <xs:complexType name="EntityName">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VersionBoundRelationData">
        <xs:sequence>
          <xs:element minOccurs="0" name="nameUseRef" nillable="true" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityName" nillable="true" type="tns:EntityName" />
  <xs:complexType name="EntityNameComponent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GenericComponentValues">
        <xs:sequence>
          <xs:element minOccurs="0" name="phoneticAlgorithmRef" type="ser:guid" />
          <xs:element minOccurs="0" name="phoneticCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityNameComponent" nillable="true" type="tns:EntityNameComponent" />
  <xs:complexType name="EntityTelecomAddress">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VersionBoundRelationData">
        <xs:sequence>
          <xs:element minOccurs="0" name="addressUseRef" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityTelecomAddress" nillable="true" type="tns:EntityTelecomAddress" />
  <xs:complexType name="ManufacturedMaterial">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Material">
        <xs:sequence>
          <xs:element minOccurs="0" name="lotNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ManufacturedMaterial" nillable="true" type="tns:ManufacturedMaterial" />
  <xs:complexType name="Material">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="expiryDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="formConceptRef" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="isAdministrative" type="xs:boolean" />
          <xs:element minOccurs="0" name="quantity" type="xs:decimal" />
          <xs:element minOccurs="0" name="quantityConceptRef" nillable="true" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Material" nillable="true" type="tns:Material" />
  <xs:complexType name="Organization">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="industryConceptRef" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Organization" nillable="true" type="tns:Organization" />
  <xs:complexType name="PersonLanguageCommunication">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VersionBoundRelationData">
        <xs:sequence>
          <xs:element minOccurs="0" name="isPreferred" type="xs:boolean" />
          <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonLanguageCommunication" nillable="true" type="tns:PersonLanguageCommunication" />
  <xs:complexType name="Place">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="isMobile" type="xs:boolean" />
          <xs:element minOccurs="0" name="lat" type="xs:float" />
          <xs:element minOccurs="0" name="lng" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Place" nillable="true" type="tns:Place" />
  <xs:complexType name="PlaceService">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VersionBoundRelationData">
        <xs:sequence>
          <xs:element minOccurs="0" name="serviceConceptRef" type="ser:guid" />
          <xs:element minOccurs="0" name="serviceSchedule" nillable="true">
            <xs:complexType>
              <xs:sequence>
                <xs:any minOccurs="0" processContents="lax" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PlaceService" nillable="true" type="tns:PlaceService" />
  <xs:complexType name="EntityExtension">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Extension">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityExtension" nillable="true" type="tns:EntityExtension" />
  <xs:complexType name="Extension">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Extension" Namespace="http://openiz.org/model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Entity" Namespace="http://openiz.org/model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VersionBoundRelationData">
        <xs:sequence>
          <xs:element minOccurs="0" name="extensionTypeRef" type="ser:guid" />
          <xs:element minOccurs="0" name="value" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Extension" nillable="true" type="tns:Extension" />
  <xs:complexType name="ActExtension">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Extension">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActExtension" nillable="true" type="tns:ActExtension" />
  <xs:complexType name="ExtensionType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntityData">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExtensionType" nillable="true" type="tns:ExtensionType" />
  <xs:complexType name="CodeSystem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntityData">
        <xs:sequence>
          <xs:element minOccurs="0" name="authority" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="oRef" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="obsoletionReason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CodeSystem" nillable="true" type="tns:CodeSystem" />
  <xs:complexType name="ConceptName">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VersionBoundRelationData">
        <xs:sequence>
          <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="phoneticAlgorithmRef" type="ser:guid" />
          <xs:element minOccurs="0" name="phoneticCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConceptName" nillable="true" type="tns:ConceptName" />
  <xs:complexType name="ConceptRelationshipType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdentifiedData">
        <xs:sequence>
          <xs:element minOccurs="0" name="mnemonic" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConceptRelationshipType" nillable="true" type="tns:ConceptRelationshipType" />
  <xs:complexType name="EntityNote">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Note">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityNote" nillable="true" type="tns:EntityNote" />
  <xs:complexType name="Note">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Note" Namespace="http://openiz.org/model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Entity" Namespace="http://openiz.org/model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VersionBoundRelationData">
        <xs:sequence>
          <xs:element minOccurs="0" name="authorRef" type="ser:guid" />
          <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Note" nillable="true" type="tns:Note" />
  <xs:complexType name="ActNote">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Note">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActNote" nillable="true" type="tns:ActNote" />
  <xs:complexType name="PhoneticAlgorithm">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdentifiedData">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PhoneticAlgorithm" nillable="true" type="tns:PhoneticAlgorithm" />
  <xs:complexType name="ReferenceTermName">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntityData">
        <xs:sequence>
          <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="phoneticAlgorithmRef" type="ser:guid" />
          <xs:element minOccurs="0" name="phoneticCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="referenceTermRef" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReferenceTermName" nillable="true" type="tns:ReferenceTermName" />
  <xs:complexType name="EntityTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityTag" nillable="true" type="tns:EntityTag" />
  <xs:complexType name="Tag">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Tag" Namespace="http://openiz.org/model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Entity" Namespace="http://openiz.org/model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BoundRelationData">
        <xs:sequence>
          <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Tag" nillable="true" type="tns:Tag" />
  <xs:complexType name="ActTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActTag" nillable="true" type="tns:ActTag" />
  <xs:complexType name="AssigningAuthority">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntityData">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="assigningDeviceRef" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="oRef" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssigningAuthority" nillable="true" type="tns:AssigningAuthority" />
  <xs:complexType name="Concept">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VersionedEntityData">
        <xs:sequence>
          <xs:element minOccurs="0" name="classRef" type="ser:guid" />
          <xs:element minOccurs="0" name="isReadonly" type="xs:boolean" />
          <xs:element minOccurs="0" name="mnemonic" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="statusConceptRef" nillable="true" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Concept" nillable="true" type="tns:Concept" />
  <xs:complexType name="ConceptClass">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdentifiedData">
        <xs:sequence>
          <xs:element minOccurs="0" name="mnemonic" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConceptClass" nillable="true" type="tns:ConceptClass" />
  <xs:complexType name="ConceptReferenceTerm">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VersionBoundRelationData">
        <xs:sequence>
          <xs:element minOccurs="0" name="referenceTermRef" type="ser:guid" />
          <xs:element minOccurs="0" name="relationshipTypeRef" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConceptReferenceTerm" nillable="true" type="tns:ConceptReferenceTerm" />
  <xs:complexType name="ConceptRelationship">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VersionBoundRelationData">
        <xs:sequence>
          <xs:element minOccurs="0" name="relationshipTypeRef" type="ser:guid" />
          <xs:element minOccurs="0" name="targetConceptRef" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConceptRelationship" nillable="true" type="tns:ConceptRelationship" />
  <xs:complexType name="EntityIdentifier">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdentifierBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityIdentifier" nillable="true" type="tns:EntityIdentifier" />
  <xs:complexType name="IdentifierBase">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="IdentifierBase" Namespace="http://openiz.org/model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Entity" Namespace="http://openiz.org/model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VersionBoundRelationData">
        <xs:sequence>
          <xs:element minOccurs="0" name="authorityRef" type="ser:guid" />
          <xs:element minOccurs="0" name="typeRef" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IdentifierBase" nillable="true" type="tns:IdentifierBase" />
  <xs:complexType name="ActIdentifier">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdentifierBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActIdentifier" nillable="true" type="tns:ActIdentifier" />
  <xs:complexType name="IdentifierType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntityData">
        <xs:sequence>
          <xs:element minOccurs="0" name="scopeConceptRef" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="typeConceptRef" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IdentifierType" nillable="true" type="tns:IdentifierType" />
  <xs:complexType name="ReferenceTerm">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdentifiedData">
        <xs:sequence>
          <xs:element minOccurs="0" name="codeSystemRef" type="ser:guid" />
          <xs:element minOccurs="0" name="mnemonic" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReferenceTerm" nillable="true" type="tns:ReferenceTerm" />
  <xs:complexType name="Act">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VersionedEntityData">
        <xs:sequence>
          <xs:element minOccurs="0" name="classConceptRef" type="ser:guid" />
          <xs:element minOccurs="0" name="moodConceptRef" type="ser:guid" />
          <xs:element minOccurs="0" name="reasonConceptRef" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="statusConceptRef" type="ser:guid" />
          <xs:element minOccurs="0" name="typeConceptRef" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Act" nillable="true" type="tns:Act" />
  <xs:complexType name="ActParticipation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VersionBoundRelationData">
        <xs:sequence>
          <xs:element minOccurs="0" name="participationRoleRef" type="ser:guid" />
          <xs:element minOccurs="0" name="targetEntityRef" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActParticipation" nillable="true" type="tns:ActParticipation" />
  <xs:complexType name="ActRelationship">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VersionBoundRelationData">
        <xs:sequence>
          <xs:element minOccurs="0" name="relationshipTypeRef" type="ser:guid" />
          <xs:element minOccurs="0" name="targetRef" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActRelationship" nillable="true" type="tns:ActRelationship" />
  <xs:complexType name="Observation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Act">
        <xs:sequence>
          <xs:element minOccurs="0" name="interpretationConceptRef" nillable="true" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Observation" nillable="true" type="tns:Observation" />
  <xs:complexType name="QuantityObservation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Observation">
        <xs:sequence>
          <xs:element minOccurs="0" name="unitOfMeasureRef" type="ser:guid" />
          <xs:element minOccurs="0" name="value" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuantityObservation" nillable="true" type="tns:QuantityObservation" />
  <xs:complexType name="TextObservation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Observation">
        <xs:sequence>
          <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextObservation" nillable="true" type="tns:TextObservation" />
  <xs:complexType name="CodedObservation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Observation">
        <xs:sequence>
          <xs:element minOccurs="0" name="valueRef" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CodedObservation" nillable="true" type="tns:CodedObservation" />
  <xs:complexType name="PatientEncounter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Act">
        <xs:sequence>
          <xs:element minOccurs="0" name="dischargeDispositionRef" nillable="true" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PatientEncounter" nillable="true" type="tns:PatientEncounter" />
  <xs:complexType name="SubstanceAdministration">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Act">
        <xs:sequence>
          <xs:element minOccurs="0" name="doseQuantity" type="xs:decimal" />
          <xs:element minOccurs="0" name="doseUnitRef" type="ser:guid" />
          <xs:element minOccurs="0" name="routeRef" type="ser:guid" />
          <xs:element minOccurs="0" name="sequenceId" type="xs:unsignedInt" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubstanceAdministration" nillable="true" type="tns:SubstanceAdministration" />
</xs:schema>