OpenIZ.Messaging.IMSI/Schema/IMSI.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2015 rel. 4 (http://www.altova.com) by Justin Fyfe (Mohawk College) -->
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://openiz.org/model" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:q1="http://schemas.datacontract.org/2004/07/OpenIZ.Core.Model.DataTypes" targetNamespace="http://openiz.org/model" elementFormDefault="qualified">
	<xs:import schemaLocation="Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
	<xs:complexType name="Patient" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:Person">
				<xs:sequence>
					<xs:element name="deceasedDate" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="deceasedDatePrecision" type="tns:DatePrecision" nillable="true" minOccurs="0"/>
					<xs:element name="genderConcept" type="ser:guid" minOccurs="0"/>
					<xs:element name="multipleBirthOrder" type="xs:int" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Patient" type="tns:Patient" nillable="true"/>
	<xs:complexType name="Person" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:Entity">
				<xs:sequence>
					<xs:element name="dateOfBirth" type="xs:dateTime" minOccurs="0"/>
					<xs:element name="datePrecision" type="tns:DatePrecision" minOccurs="0"/>
					<xs:element name="language" type="tns:ArrayOfPersonLanguageCommunication" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ArrayOfConceptRelationship">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConceptRelationship" nillable="true" type="tns:ConceptRelationship" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConceptRelationship">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VersionBoundRelationData">
        <xs:sequence>
          <xs:element minOccurs="0" name="relationshipType" nillable="true" type="tns:ConceptRelationshipType" />
          <xs:element minOccurs="0" name="targetConcept" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

	<xs:element name="Person" type="tns:Person" nillable="true"/>
	<xs:complexType name="Entity" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:VersionedEntityData">
				<xs:sequence>
					<xs:element name="address" type="tns:ArrayOfEntityAddress" nillable="true" minOccurs="0"/>
					<xs:element name="classConcept" type="ser:guid" minOccurs="0"/>
					<xs:element name="creationAct" type="ser:guid" minOccurs="0"/>
					<xs:element name="determinerConcept" type="ser:guid" minOccurs="0"/>
					<xs:element name="extension" type="tns:ArrayOfEntityExtension" nillable="true" minOccurs="0"/>
					<xs:element name="identifier" type="tns:ArrayOfEntityIdentifier" nillable="true" minOccurs="0"/>
					<xs:element name="name" type="tns:ArrayOfEntityName" nillable="true" minOccurs="0"/>
					<xs:element name="note" type="tns:ArrayOfEntityNote" nillable="true" minOccurs="0"/>
					<xs:element name="participation" type="tns:ArrayOfActParticipation" nillable="true" minOccurs="0"/>
					<xs:element name="relationship" type="tns:ArrayOfEntityRelationship" nillable="true" minOccurs="0"/>
					<xs:element name="statusConcept" type="ser:guid" minOccurs="0"/>
					<xs:element name="tag" type="tns:ArrayOfEntityTag" nillable="true" minOccurs="0"/>
					<xs:element name="telecom" type="tns:ArrayOfEntityTelecomAddress" nillable="true" minOccurs="0"/>
					<xs:element name="typeConcept" type="ser:guid" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Entity" type="tns:Entity" nillable="true"/>
	<xs:complexType name="VersionedEntityData" mixed="false">
		<xs:annotation>
			<xs:appinfo>
				<GenericType Name="VersionedEntityData" Namespace="http://openiz.org/model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
					<GenericParameter Name="Entity" Namespace="http://openiz.org/model"/>
				</GenericType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:BaseEntityData">
				<xs:sequence>
					<xs:element name="previousVersion" type="ser:guid" nillable="true" minOccurs="0"/>
					<xs:element name="sequence" type="xs:decimal" minOccurs="0"/>
					<xs:element name="version" type="ser:guid" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseEntityData" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:IdentifiedData">
				<xs:sequence>
					<xs:element name="createdBy" type="ser:guid" minOccurs="0"/>
					<xs:element name="creationTime" type="xs:dateTime" minOccurs="0"/>
					<xs:element name="obsoletedBy" type="ser:guid" nillable="true" minOccurs="0"/>
					<xs:element name="obsoletionTime" type="xs:dateTime" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IdentifiedData">
		<xs:sequence>
			<xs:element name="id" type="ser:guid" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrayOfEntityAddress">
		<xs:sequence>
			<xs:element name="EntityAddress" type="tns:EntityAddress" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntityAddress" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:VersionBoundRelationData">
				<xs:sequence>
					<xs:element name="addressUse" type="ser:guid" nillable="true" minOccurs="0"/>
					<xs:element name="component" type="tns:ArrayOfAddressComponent" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VersionBoundRelationData" mixed="false">
		<xs:annotation>
			<xs:appinfo>
				<GenericType Name="VersionBoundRelationData" Namespace="http://openiz.org/model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
					<GenericParameter Name="Entity" Namespace="http://openiz.org/model"/>
				</GenericType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:BoundRelationData">
				<xs:sequence>
					<xs:element name="effectiveVersionSequence" type="xs:decimal" minOccurs="0"/>
					<xs:element name="obsoleteVersionSequence" type="xs:decimal" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BoundRelationData" mixed="false">
		<xs:annotation>
			<xs:appinfo>
				<GenericType Name="BoundRelationData" Namespace="http://openiz.org/model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
					<GenericParameter Name="Entity" Namespace="http://openiz.org/model"/>
				</GenericType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:BaseEntityData">
				<xs:sequence>
					<xs:element name="source" type="ser:guid" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ArrayOfAddressComponent">
		<xs:sequence>
			<xs:element name="AddressComponent" type="tns:AddressComponent" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressComponent" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:GenericComponentValues">
				<xs:sequence>
					<xs:element name="value" type="xs:string" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GenericComponentValues" mixed="false">
		<xs:annotation>
			<xs:appinfo>
				<GenericType Name="GenericComponentValues" Namespace="http://openiz.org/model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
					<GenericParameter Name="EntityAddress" Namespace="http://openiz.org/model"/>
				</GenericType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:BoundRelationData">
				<xs:sequence>
					<xs:element name="type" type="ser:guid" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ArrayOfEntityExtension">
		<xs:sequence>
			<xs:element name="EntityExtension" type="tns:EntityExtension" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntityExtension" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:Extension">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Extension" mixed="false">
		<xs:annotation>
			<xs:appinfo>
				<GenericType Name="Extension" Namespace="http://openiz.org/model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
					<GenericParameter Name="Entity" Namespace="http://openiz.org/model"/>
				</GenericType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:VersionBoundRelationData">
				<xs:sequence>
					<xs:element name="extensionType" type="tns:ExtensionType" nillable="true" minOccurs="0"/>
					<xs:element name="value" type="xs:base64Binary" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ExtensionType" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:BaseEntityData">
				<xs:sequence>
					<xs:element name="name" type="xs:string" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ArrayOfEntityIdentifier">
		<xs:sequence>
			<xs:element name="EntityIdentifier" type="tns:EntityIdentifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntityIdentifier" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:IdentifierBase">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IdentifierBase" mixed="false">
		<xs:annotation>
			<xs:appinfo>
				<GenericType Name="IdentifierBase" Namespace="http://openiz.org/model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
					<GenericParameter Name="Entity" Namespace="http://openiz.org/model"/>
				</GenericType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:VersionBoundRelationData">
				<xs:sequence>
					<xs:element name="authority" type="tns:AssigningAuthority" nillable="true" minOccurs="0"/>
					<xs:element name="type" type="tns:IdentifierType" nillable="true" minOccurs="0"/>
					<xs:element name="value" type="xs:string" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AssigningAuthority" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:BaseEntityData">
				<xs:sequence>
					<xs:element name="assigningDevice" type="ser:guid" nillable="true" minOccurs="0"/>
					<xs:element name="description" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="domainName" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="name" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="oid" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="url" type="xs:string" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IdentifierType" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:BaseEntityData">
				<xs:sequence>
					<xs:element name="scopeConcept" type="ser:guid" nillable="true" minOccurs="0"/>
					<xs:element name="typeConcept" type="ser:guid" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ArrayOfEntityName">
		<xs:sequence>
			<xs:element name="EntityName" type="tns:EntityName" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntityName" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:VersionBoundRelationData">
				<xs:sequence>
					<xs:element name="component" type="tns:ArrayOfEntityNameComponent" nillable="true" minOccurs="0"/>
					<xs:element name="nameUse" type="ser:guid" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ArrayOfEntityNameComponent">
		<xs:sequence>
			<xs:element name="EntityNameComponent" type="tns:EntityNameComponent" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntityNameComponent" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:GenericComponentValues">
				<xs:sequence>
					<xs:element name="phoneticAlgorithm" type="ser:guid" minOccurs="0"/>
					<xs:element name="phoneticCode" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="value" type="xs:string" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ArrayOfEntityNote">
		<xs:sequence>
			<xs:element name="EntityNote" type="tns:EntityNote" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntityNote" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:Note">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Note" mixed="false">
		<xs:annotation>
			<xs:appinfo>
				<GenericType Name="Note" Namespace="http://openiz.org/model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
					<GenericParameter Name="Entity" Namespace="http://openiz.org/model"/>
				</GenericType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:VersionBoundRelationData">
				<xs:sequence>
					<xs:element name="author" type="ser:guid" minOccurs="0"/>
					<xs:element name="text" type="xs:string" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ArrayOfActParticipation">
		<xs:sequence>
			<xs:element name="ActParticipation" type="tns:ActParticipation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActParticipation" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:VersionBoundRelationData">
				<xs:sequence>
					<xs:element name="participationRole" type="ser:guid" minOccurs="0"/>
					<xs:element name="player" type="ser:guid" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ArrayOfEntityRelationship">
		<xs:sequence>
			<xs:element name="EntityRelationship" type="tns:EntityRelationship" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntityRelationship" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:VersionBoundRelationData">
				<xs:sequence>
					<xs:element name="relationshipType" type="ser:guid" minOccurs="0"/>
					<xs:element name="target" type="ser:guid" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ArrayOfEntityTag">
		<xs:sequence>
			<xs:element name="EntityTag" type="tns:EntityTag" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntityTag" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:Tag">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Tag" mixed="false">
		<xs:annotation>
			<xs:appinfo>
				<GenericType Name="Tag" Namespace="http://openiz.org/model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
					<GenericParameter Name="Entity" Namespace="http://openiz.org/model"/>
				</GenericType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:BoundRelationData">
				<xs:sequence>
					<xs:element name="key" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="value" type="xs:string" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ArrayOfEntityTelecomAddress">
		<xs:sequence>
			<xs:element name="EntityTelecomAddress" type="tns:EntityTelecomAddress" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntityTelecomAddress" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:VersionBoundRelationData">
				<xs:sequence>
					<xs:element name="addressUse" type="ser:guid" nillable="true" minOccurs="0"/>
					<xs:element name="value" type="xs:string" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="DatePrecision">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y"/>
			<xs:enumeration value="m"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="H"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="S"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ArrayOfPersonLanguageCommunication">
		<xs:sequence>
			<xs:element name="PersonLanguageCommunication" type="tns:PersonLanguageCommunication" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonLanguageCommunication" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:VersionBoundRelationData">
				<xs:sequence>
					<xs:element name="isPreferred" type="xs:boolean" minOccurs="0"/>
					<xs:element name="languageCode" type="xs:string" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Provider" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:Person">
				<xs:sequence>
					<xs:element name="providerSpecialty" type="ser:guid" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Provider" type="tns:Provider" nillable="true"/>
	<xs:complexType name="ApplicationEntity" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:Entity">
				<xs:sequence>
					<xs:element name="securityApplication" type="ser:guid" minOccurs="0"/>
					<xs:element name="softwareName" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="vendorName" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="versionName" type="xs:string" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ApplicationEntity" type="tns:ApplicationEntity" nillable="true"/>
	<xs:complexType name="DeviceEntity" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:Entity">
				<xs:sequence>
					<xs:element name="manufacturerModelName" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="operatingSystemName" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="securityDevice" type="ser:guid" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DeviceEntity" type="tns:DeviceEntity" nillable="true"/>
	<xs:complexType name="ManufacturedMaterial" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:Material">
				<xs:sequence>
					<xs:element name="lotNumber" type="xs:string" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ManufacturedMaterial" type="tns:ManufacturedMaterial" nillable="true"/>
	<xs:complexType name="Material" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:Entity">
				<xs:sequence>
					<xs:element name="expiryDate" type="xs:dateTime" minOccurs="0"/>
					<xs:element name="formConcept" type="ser:guid" nillable="true" minOccurs="0"/>
					<xs:element name="isAdministrative" type="xs:boolean" minOccurs="0"/>
					<xs:element name="quantity" type="xs:decimal" minOccurs="0"/>
					<xs:element name="quantityConcept" type="ser:guid" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Material" type="tns:Material" nillable="true"/>
	<xs:complexType name="Organization" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:Entity">
				<xs:sequence>
					<xs:element name="industryConcept" type="ser:guid" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Organization" type="tns:Organization" nillable="true"/>
	<xs:complexType name="Place" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:Entity">
				<xs:sequence>
					<xs:element name="isMobile" type="xs:boolean" minOccurs="0"/>
					<xs:element name="lat" type="xs:float" minOccurs="0"/>
					<xs:element name="lng" type="xs:float" minOccurs="0"/>
					<xs:element name="service" type="tns:ArrayOfPlaceService" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Place" type="tns:Place" nillable="true"/>
	<xs:complexType name="ArrayOfPlaceService">
		<xs:sequence>
			<xs:element name="PlaceService" type="tns:PlaceService" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlaceService" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:VersionBoundRelationData">
				<xs:sequence>
					<xs:element name="serviceConcept" type="ser:guid" minOccurs="0"/>
					<xs:element name="serviceSchedule" nillable="true" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:any processContents="lax" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CodeSystem" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:BaseEntityData">
				<xs:sequence>
					<xs:element name="authority" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="description" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="name" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="obsoletionReason" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="oid" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="url" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="version" type="xs:string" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CodeSystem" type="tns:CodeSystem" nillable="true"/>
	<xs:complexType name="PhoneticAlgorithm" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:IdentifiedData">
				<xs:sequence>
					<xs:element name="name" type="xs:string" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PhoneticAlgorithm" type="tns:PhoneticAlgorithm" nillable="true"/>
	<xs:complexType name="Concept" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:VersionedEntityData">
				<xs:sequence>
					<xs:element name="class" type="tns:ConceptClass" nillable="true" minOccurs="0"/>
					<xs:element name="isReadonly" type="xs:boolean" minOccurs="0"/>
					<xs:element name="mnemonic" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="name" type="tns:ArrayOfConceptName" nillable="true" minOccurs="0"/>
					<xs:element name="referenceTerm" type="tns:ArrayOfConceptReferenceTerm" nillable="true" minOccurs="0"/>
					<xs:element name="relationship" type="tns:ArrayOfConceptRelationship" nillable="true" minOccurs="0"/>
					<xs:element name="statusConcept" type="ser:guid" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Concept" type="tns:Concept" nillable="true"/>
	<xs:complexType name="ConceptClass" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:IdentifiedData">
				<xs:sequence>
					<xs:element name="mnemonic" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="name" type="xs:string" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ArrayOfConceptName">
		<xs:sequence>
			<xs:element name="ConceptName" type="tns:ConceptName" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConceptName" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:VersionBoundRelationData">
				<xs:sequence>
					<xs:element name="language" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="name" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="phoneticAlgorithm" type="ser:guid" minOccurs="0"/>
					<xs:element name="phoneticCode" type="xs:string" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ArrayOfConceptReferenceTerm">
		<xs:sequence>
			<xs:element name="ConceptReferenceTerm" type="tns:ConceptReferenceTerm" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConceptReferenceTerm" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:VersionBoundRelationData">
				<xs:sequence>
					<xs:element name="referenceTerm" type="ser:guid" minOccurs="0"/>
					<xs:element name="relationshipType" type="ser:guid" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ConceptRelationshipType" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:IdentifiedData">
				<xs:sequence>
					<xs:element name="mnemonic" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="name" type="xs:string" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReferenceTerm" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:IdentifiedData">
				<xs:sequence>
					<xs:element name="codeSystem" type="tns:CodeSystem" nillable="true" minOccurs="0"/>
					<xs:element name="mnemonic" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="name" type="tns:ArrayOfReferenceTermName" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ReferenceTerm" type="tns:ReferenceTerm" nillable="true"/>
	<xs:complexType name="ArrayOfReferenceTermName">
		<xs:sequence>
			<xs:element name="ReferenceTermName" type="tns:ReferenceTermName" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferenceTermName" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:BaseEntityData">
				<xs:sequence>
					<xs:element name="language" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="name" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="phoneticAlgorithm" type="ser:guid" minOccurs="0"/>
					<xs:element name="phoneticCode" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="referenceTerm" type="ser:guid" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Act" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:VersionedEntityData">
				<xs:sequence>
					<xs:element name="classConcept" type="ser:guid" minOccurs="0"/>
					<xs:element name="extension" type="tns:ArrayOfActExtension" nillable="true" minOccurs="0"/>
					<xs:element name="identifier" type="tns:ArrayOfActIdentifier" nillable="true" minOccurs="0"/>
					<xs:element name="isNegated" type="xs:boolean" minOccurs="0"/>
					<xs:element name="moodConcept" type="ser:guid" minOccurs="0"/>
					<xs:element name="note" type="tns:ArrayOfActNote" nillable="true" minOccurs="0"/>
					<xs:element name="reasonConcept" type="ser:guid" nillable="true" minOccurs="0"/>
					<xs:element name="relationship" type="tns:ArrayOfActRelationship" nillable="true" minOccurs="0"/>
					<xs:element name="startTime" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="statusConcept" type="ser:guid" minOccurs="0"/>
					<xs:element name="stopTime" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="tag" type="tns:ArrayOfActTag" nillable="true" minOccurs="0"/>
					<xs:element name="typeConcept" type="ser:guid" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Act" type="tns:Act" nillable="true"/>
	<xs:complexType name="ArrayOfActExtension">
		<xs:sequence>
			<xs:element name="ActExtension" type="tns:ActExtension" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActExtension" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:Extension">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ArrayOfActIdentifier">
		<xs:sequence>
			<xs:element name="ActIdentifier" type="tns:ActIdentifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActIdentifier" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:IdentifierBase">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ArrayOfActNote">
		<xs:sequence>
			<xs:element name="ActNote" type="tns:ActNote" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActNote" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:Note">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ArrayOfActRelationship">
		<xs:sequence>
			<xs:element name="ActRelationship" type="tns:ActRelationship" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActRelationship" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:VersionBoundRelationData">
				<xs:sequence>
					<xs:element name="relationshipType" type="ser:guid" minOccurs="0"/>
					<xs:element name="target" type="ser:guid" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ArrayOfActTag">
		<xs:sequence>
			<xs:element name="ActTag" type="tns:ActTag" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActTag" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:Tag">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QuantityObservation" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:Observation">
				<xs:sequence>
					<xs:element name="unitOfMeasure" type="ser:guid" minOccurs="0"/>
					<xs:element name="value" type="xs:decimal" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="QuantityObservation" type="tns:QuantityObservation" nillable="true"/>
	<xs:complexType name="Observation" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:Act">
				<xs:sequence>
					<xs:element name="interpretationConcept" type="ser:guid" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TextObservation" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:Observation">
				<xs:sequence>
					<xs:element name="value" type="xs:string" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="TextObservation" type="tns:TextObservation" nillable="true"/>
	<xs:complexType name="CodedObservation" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:Observation">
				<xs:sequence>
					<xs:element name="value" type="ser:guid" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CodedObservation" type="tns:CodedObservation" nillable="true"/>
	<xs:complexType name="PatientEncounter" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:Act">
				<xs:sequence>
					<xs:element name="dischargeDisposition" type="ser:guid" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PatientEncounter" type="tns:PatientEncounter" nillable="true"/>
	<xs:complexType name="SubstanceAdministration" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:Act">
				<xs:sequence>
					<xs:element name="doseQuantity" type="xs:decimal" minOccurs="0"/>
					<xs:element name="doseSequence" type="xs:unsignedInt" minOccurs="0"/>
					<xs:element name="doseUnit" type="ser:guid" minOccurs="0"/>
					<xs:element name="route" type="ser:guid" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SubstanceAdministration" type="tns:SubstanceAdministration" nillable="true"/>
</xs:schema>
